USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 6/20/2026 ******/
-- Check if the database already exists to drop it and avoid errors
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'Bank')
BEGIN
    ALTER DATABASE [Bank] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [Bank];
END
GO

-- Create the database with default system paths to work on any machine
CREATE DATABASE [Bank]
GO
USE [Bank]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
USE [Bank]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 6/20/2026 11:14:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[AccountNumber] [int] IDENTITY(1,1) NOT NULL,
	[PinCode] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[CountryID] [int] NOT NULL,
	[Balance] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 6/20/2026 11:14:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Currency] [nvarchar](70) NOT NULL,
	[Rate] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginUsers]    Script Date: 6/20/2026 11:14:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginUsers](
	[LoginUserID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LoginDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LoginUsers] PRIMARY KEY CLUSTERED 
(
	[LoginUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferLog]    Script Date: 6/20/2026 11:14:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferLog](
	[TransferLogID] [int] IDENTITY(1,1) NOT NULL,
	[SourseAccountNumber] [int] NOT NULL,
	[DestinationAccountNumber] [int] NOT NULL,
	[OperationType] [tinyint] NOT NULL,
	[Amount] [smallmoney] NOT NULL,
	[TransferDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_TransferLog] PRIMARY KEY CLUSTERED 
(
	[TransferLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/20/2026 11:14:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[ClientAccountNumber] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Permissons] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([AccountNumber], [PinCode], [FirstName], [SecondName], [LastName], [Gender], [Phone], [Email], [CountryID], [Balance]) VALUES (1, N'1111', N'Othman', N'Khaled', N'Turk', 0, N'0934514069', N'Othman7@gmail.com', 168, 1700.0000)
INSERT [dbo].[Clients] ([AccountNumber], [PinCode], [FirstName], [SecondName], [LastName], [Gender], [Phone], [Email], [CountryID], [Balance]) VALUES (2, N'1111', N'Mohammed', N'Ahmed', N'Toama', 0, N'0998528398', NULL, 168, 1600.0000)
INSERT [dbo].[Clients] ([AccountNumber], [PinCode], [FirstName], [SecondName], [LastName], [Gender], [Phone], [Email], [CountryID], [Balance]) VALUES (21, N'qfwf', N'qf', NULL, N'efvq', 0, N'8412974109', N'a@gmail.com', 174, 1000.0000)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName], [Code], [Currency], [Rate]) VALUES (1, N'United States', N'USD', N'US Dollar', 1.0000)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [Code], [Currency], [Rate]) VALUES (2, N'Afghanistan', N'AFN', N'Afghan Afghani', 89.5000)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [Code], [Currency], [Rate]) VALUES (3, N'Albania', N'ALL', N'Albanian Lek', 104.2000)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginUsers] ON 

INSERT [dbo].[LoginUsers] ([LoginUserID], [UserID], [LoginDate]) VALUES (1, 1, CAST(N'2025-08-23T01:25:59.540' AS DateTime))
INSERT [dbo].[LoginUsers] ([LoginUserID], [UserID], [LoginDate]) VALUES (2, 1, CAST(N'2025-08-23T01:33:07.483' AS DateTime))
INSERT [dbo].[LoginUsers] ([LoginUserID], [UserID], [LoginDate]) VALUES (3, 1, CAST(N'2025-08-23T01:33:51.207' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LoginUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[TransferLog] ON 

INSERT [dbo].[TransferLog] ([TransferLogID], [SourseAccountNumber], [DestinationAccountNumber], [OperationType], [Amount], [TransferDate], [CreatedByUserID]) VALUES (1, 1, 21, 1, 0.0000, CAST(N'2025-08-23T14:47:36.450' AS DateTime), 1)
INSERT [dbo].[TransferLog] ([TransferLogID], [SourseAccountNumber], [DestinationAccountNumber], [OperationType], [Amount], [TransferDate], [CreatedByUserID]) VALUES (2, 21, 2, 1, 200.0000, CAST(N'2025-08-23T14:47:55.997' AS DateTime), 1)
INSERT [dbo].[TransferLog] ([TransferLogID], [SourseAccountNumber], [DestinationAccountNumber], [OperationType], [Amount], [TransferDate], [CreatedByUserID]) VALUES (3, 1, 21, 1, 200.0000, CAST(N'2025-08-23T14:48:39.103' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TransferLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [ClientAccountNumber], [UserName], [Password], [Permissons], [IsActive]) VALUES (1, 1, N'Othman', N'admin', -1, 1)
INSERT [dbo].[Users] ([UserID], [ClientAccountNumber], [UserName], [Password], [Permissons], [IsActive]) VALUES (4, 2, N'Mohammed2', N'1234', 13, 1)
INSERT [dbo].[Users] ([UserID], [ClientAccountNumber], [UserName], [Password], [Permissons], [IsActive]) VALUES (5, 21, N'21', N'21', 9, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Countries]
GO
ALTER TABLE [dbo].[LoginUsers]  WITH CHECK ADD  CONSTRAINT [FK_LoginUsers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LoginUsers] CHECK CONSTRAINT [FK_LoginUsers_Users]
GO
ALTER TABLE [dbo].[TransferLog]  WITH CHECK ADD  CONSTRAINT [FK_TransferLog_User] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TransferLog] CHECK CONSTRAINT [FK_TransferLog_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Client] FOREIGN KEY([ClientAccountNumber])
REFERENCES [dbo].[Clients] ([AccountNumber])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Client]
GO
USE [master]
GO
